
/* Space out content a bit */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}
#tablaFutbolistas {
  display:none;
}

#tablaFutbolistas td img{
  max-width: 100px;
}
.error{width:auto; color:red;font-size:small;}